body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Century Gothic', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #D4E6FE;
}

.container {
    background-color: #FDFEFF;
    margin: 10%;
    display: inline block;
    justify-content: center;
    align-items: center;
}

.row {
    width: 80%;
    margin-left: 10%;
    padding-bottom: 20px;
    display: flex;
    text-align: center;
}

.space-evenly {
    justify-content: space-between;
}

h2 {
    color: #0623E9;
    font-weight: 200;
    line-height: 100px;
    font-size: 40px;
}

input {
    line-height: 50px;
    border: 0;
    border-radius: 10px;
    background-color: #E7E9FE;
    opacity: 1;
}

::placeholder {
    color: #0623E9;
    padding-left: 20px;
}

.half-line {
    width: 47%;
}

.full-line {
    width: 100%;
    background-color: #C7CDFD;
}

.double-line {
    width: 100%;
    line-height: 100px;
    background-color: #A5B1FD
}

button {
    display: inline-block;
    padding: 15px 50px;
    font-size: 18px;
    text-decoration: none;
    background-color: #0623E9;
    color: #FDFEFF;;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 50%;
    transform: translateX(-50%);
}

p {
    color: #77DDC5;
    margin-bottom: ;
}